*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}
.main-parent{
    min-height: 100vh;
    width: 300px;
    border-radius: 30px;
}
img{
    position: absolute;
    top: 20px;
    right: 20px;

}
.main-parent {
    /* default theme styles */
    background-color: #FFFFFF;
    color: #333;
  }
  
.main-parent.dark-theme {
    /* dark theme styles */
    background-color: #000F24;
    color: #fff;
}
.child-1{
    position: relative;
    padding: 20px;
}